:root{
    --cor-de-fundo: rgb(51, 148, 18);
    --cor-de-cabecalho: white;
    --cor-de-item: pink;
}   

body {
    background-color: var(--cor-de-fundo)
}

.cabecalho {
    background-color: var(--cor-de-cabecalho)

}
  .cabecalho-titulo {
    font-size:36px;
    font-weight:700;
    padding:12px;
    text-align:center;
  }

  .cabecalho-menu {
    background-color: var(--cor-de-item)


  }
    .cabecalho-menu-item {
        display:block;
        padding:10px;
        font-size:24px;
        text-decoration:none;
        color: black;
        text-align: center;
        border-top: 1px solid;
    }

    .cabecalho-imagem {
        width: 200px;
    }
    
    #burguer {
      background-color: rgb(71, 71, 255);
      display: block;
      color: white;
      text-align: center;
      padding: 10px;
      }
      #menu {
      display: none;
      }
